.bicicleta-lista{
    padding-top: 60px;
}

.bicicleta-lista h2{
    margin-bottom: 20px;
    box-sizing: border-box;
    max-width: 1200px;
    padding-left: 50px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
.bicicleta-lista ul{ 
    display: flex;
    gap: 40px;
    padding: 0 20px 20px 20px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
}
.bicicleta-lista li{
    min-width: 280px;
    flex: 1;
}
.bicicleta-lista img{
    margin-bottom: 16px;
}
a>span{
    font-size: 18px;
}
.titulo-h3{
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.titulo-h3::before{
    content: " ";
    width: 12px;
    height: 8px;
    display: inline-block;
    background-color: var(--cor-p1);
    transition: 0.3s;
    margin-right: 8px;
}
.titulo-h3:hover:before{
    width: 25px;
}
.bicicleta-lista li span{
    padding-left: 20px;
}
@media(max-width:800px){
    .bicicleta-lista{
        padding-top: 30px;
    }
    .bicicleta-lista h2{ 
        font-size: 3rem;
     }
    .bicicleta-lista ul{ 
        gap: 20px;
        margin-top: -20px;
     }
}
@media(max-width:500px){
    .bicicleta-lista h2 { 
        font-size: 2.5rem;
     }
}




