@font-face {
    font-family: 'poppins-light';
    src: url('../Poppins-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'poppins-bold';
    src: url('../Poppins-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'roboto-medium';
    src: url('../Roboto-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'roboto-light';
    src: url('../Roboto-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'merriweather-sans';
    src: url('../merriweather-sans.bold-italic.ttf') format('truetype');
}

:root{
    --cor-white:#ffffff;
    --cor-c1:#f7f7f7;
    --cor-c2:#ededed;
    --cor-c3:#dedede;
    --cor-c4:#cccccc;
    --cor-c5:#b2b2b2;
    --cor-c6:#9c9c9c;
    --cor-c7:#717171;
    --cor-c8:#595959;
    --cor-c9:#484848;
    --cor-c10:#2e2e2e;
    --cor-c11:#111111;
    --cor-c12:#000000;
    --cor-p1:#FFBB00;
    --cor-p2:#E4A30B;
    --cor-p3:#a66f00;
    --cor-p4:#664400;
    --cor-p5:#332200;
}
a{
    display: inline-block;
    color: var(--cor-white);
    text-decoration: none;
    padding: 1rem 0rem;
}
h1,h2,h3,h4, p, ul, blockquote{
    padding: 0px;
    margin: 0px;

}
ul{ 
    list-style: none;
}
img{
    display:block;
    width: 100%;
    height: 100%;
    border-radius:4px;    
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: var(--cor-c11);
}