.header{
    max-width: 1200px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}
.header-img{
    padding-left: 20px;
}
.header-menu{
    display: flex;
    flex-wrap: wrap;
    padding-right: 20px;
    gap: 40px;
    font-family: "poppins-light"sans-serif;
}
a{  
    font-size: 1.2rem;
    position: relative;
}
.header-menu a::after{
    content:"";
    display: block;
    width: 0px;
    height: 2px;
    margin-top: 4px;
    background-color: var(--cor-white);
    position: absolute;
}
.header-menu a:hover:after{
    width: 100%;
    transition: 0.3s;
}
@media(max-width:800px){
    .header-menu{
        padding-right: 0px;
        gap: 20px;
    }
    .header-menu a {
        background-color: var(--cor-c11);
        padding: 12px 16px;
        border-radius: 5px;
    }
    .header-menu a:hover{
        background-color: var(--cor-c10);
    }
    .header-menu a::after{
        display: none;
    }
    img{
        padding-left: 0px;
    }
}
@media(max-width:600px){
    .header-menu{
        gap: 12px;
    }
    .header-menu a {
        padding: 8px 12px;
        font-size: 0.9rem;
    }
}