.header-termos{
    padding: 13px 0px; 
    background-color: black;
}
 nav ul > li{
    padding: 13px 0px; 
}
.titulo-paginas-internas{
    padding: 30px 20px;
 }
.titulo-paginas-internas > h3{
    font-size: 24px;
    font-weight: 400;
}
.termos{
    width: 89%;
    margin-left: auto;
    margin-right: auto;
    padding: 90px 90px;
}
.termos > h2{
    font-family: 'poppins-bold',sans-serif;
    font-weight: bolder;
}
ol{
    width: 50%;
    list-style: none;
    padding-left: 10px;
}
li{ 
    text-align: left;
    padding-bottom: 25px;
    line-height: 1.5rem;
    color: var(--cor-c7);
}
@media(max-width:800px){
    .termos{
        margin-left: 20px;
        padding: 40px 0px;
    }
    .titulo-paginas-internas{
        padding: 10px 20px;
     }
    .container-titulo > h1{
        font-size: 3rem;
    }
    ol{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
}