.header-termos{
    padding: 13px 0px; 
    background-color: black;
}
 nav ul > li{
    padding: 13px 0px; 
}
.titulo-paginas-internas{
    background-color: var(--cor-c11);
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 75px ;
}
.container-titulo  > h3{
    font-size: 24px;
    font-weight: 400;
    padding-top: 30px;
    padding-bottom: 10px;
}
.termos{
    width: 89%;
    margin-left: auto;
    margin-right: auto;
    padding: 90px 90px;
}
.termos > h2{
    font-family: 'poppins-bold';
    font-weight: bolder;
}
ol{
    width: 50%;
    list-style: none;
}
li{ 
    text-align: left;
    padding-bottom: 25px;
    line-height: 1.5rem;
    color: var(--cor-c7);
}
@media(max-width:800px){
    .termos{
        margin-left: 20px;
        padding: 90px 0px;
    }
    .titulo-paginas-internas{
        border: 1px solid white;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
    }
    .container-titulo > h1{
        font-size: 3rem;
    }
}