.depoimento{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--cor-p1);
}
.depoimento-garota{
    max-width: 80%;
    color: var(--cor-p5);
    font-size: 35px;
    font-weight: 700;
    padding: 40px 40px 80px 80px;
    align-self: end;
    font-family: 'merriweather-sans',sans-serif;
    font-weight: 900;
    position: relative;
}
div > span{
    display: block;
    color: var(--cor-p4);
    font-family: sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding-top: 30px;
    font-style: italic;
}
.depoimento img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px;
}
.depoimento-garota p::before{
    content: '“' ;
    color: var('--cor-p4');
    font-size: 5rem;
    position: absolute;
    left: 30px;
    top: 10px;
}
.depoimento-garota p::after{
    content: '”' ;
    color: var('--cor-p4');
    font-size: 5rem;
    position: absolute;
}
@media(max-width:800px){
    .depoimento{
        grid-template-columns: 1fr;
        height: 50%;
       
    }
    .depoimento-garota{
        max-width: 100%;
    }
    blockquote{
        margin-top: -250px;
    }
    .depoimento img{
        height: 50%;
    }
    .depoimento-garota p::before{
        top: -220px;
    }
}
@media(max-width:500px){
    blockquote{
        margin-top: -190px;
    }
    .depoimento-garota p::before{
        top: -170px;
    }
}
@media(max-width:380px){
    blockquote{
        margin-top: -150px;
    }
    .depoimento-garota p::before{
        top: -140px;
    }
}
