.article-vantagens , .article-perguntas{
    padding-top: 120px;
    padding-bottom: 120px;
}
.titulo-paginas-internas > p{
    padding-bottom: 20px;
}
.article-vantagens{
    background-color: var(--cor-c12);
}
.container-vantagens{
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    gap: 20px 70px;
}
.container-vantagens li > img{
    width: 30px;
    height: 30px;
    margin-left: 0px;
    padding-bottom: 15px;
}
.container-vantagens li > h3{
    font-family: 'roboto-light',sans-serif;
    font-weight:lighter;
    font-size: 1.5rem;
    padding-bottom: 15px;
}
.container-vantagens li > p{
    color: var(--cor-c5);
    font-weight: 100;
    font-family: 'roboto-light',sans-serif;
}
.container-perguntas{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    list-style: none;
}
.container-perguntas > li{
    padding: 0px 50px 30px 50px;
    position: relative;
}
.container-perguntas  li>dt{
    list-style: none;
}
.container-perguntas > li:nth-child(odd){
    background-color: var(--cor-c1);
}
.container-perguntas li > dt{
    display: inline-block;
    font-family: 'poppins-bold',sans-serif;
    font-weight: bolder;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}
.container-perguntas li > dd{
    width: 80%;
    display: none;
}
.container-perguntas li::after{
    content: "ˆ";
    display: inline-block;
    font-size: 50px;
    position: absolute;
    left: 93%;
    top: 10%;
    transform: rotate(180deg);
    transition: 0.3s;
}
.container-perguntas li:hover::after{
    content: "ˇ";
}
.container-perguntas li:hover > dd{
 display: block;
}
.container-perguntas li > dt::before{
    content: " ";
    display: block;
    width: 15px;
    height: 8px;
    position: relative;
    left: -25px;
    top: 15px;
    background-color: var(--cor-p1);
}
@media(max-width:800px){
    .article-vantagens , .article-perguntas{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .container-vantagens{
        grid-template-columns: 1fr 1fr ;
    }
}
@media(max-width:500px){
    .container-vantagens{
        gap: 20px 30px;
    }
    .titulo-paginas-internas > h2{
        font-size: 3rem;
    }
    .container-perguntas li > dd{
        width: 100%;
    }
}
